{% extends "base.html" %}
{% block content %}
{% if flash.success %}
<div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{flash.success}}</div>
{% endif %}
<div class="jumbotron file-upload">
    <h1>Salmon-Style</h1>
    <p>Everyone is telling you to stop salmoning, you know they're right but you just can't stop. Salmon is in your nature, you were born with it. This website was created for people like you.</p>
    <p>Time to start salmoning all over the place!</p>
    {% if cookies.user %}
    <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#uploadModal">Upload image</button></p>
    {% else %} <!-- use form so I can have link in a button to match upload button -->
    <form action="/login">
        {% csrf-field %}
        <input type="submit" class="btn btn-info btn-lg" value="Login" />
    </form>
    {% endif %}
</div>

<!-- modal is a bootstrap popup window -->
<div id="uploadModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Salmon your image</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/upload" enctype="multipart/form-data" id="upload-form" class="form">
                    {% csrf-field %}
                    <div class="form-group row">
                        <label class="col-sm-2">Notify</label>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Send email when done
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2">Image</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="btn-primary" title="Search for a file to add"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- form submit button here -->
                <button type="submit" form="upload-form" value="upload" class="btn btn-primary btn-block">Upload</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
