{% extends "base.html" %}
{% block page-scripts %}
    {% script "/js/inbox.js" %}
{% endblock %}
{% block content %}
<div class="card" id="image-view">
    <div class="card-block">
        <h4 class="card-title">Salmon Inbox</h4>
        <div class="list-group">
            {% for image in images %}
            <a href="{% if image.altered %}/dream/{{image.uri}} {% else %}# {% endif %}"
               class="list-group-item {% if not image.altered %} disabled {% endif %} inbox-item">
                <span class="text-muted pull-xs-left inbox-date">{{image.timestamp|date:shortDateTime}}</span>
                <span class="text-xs-center">{{image.uri}}</span>
                {% if not image.altered %}
                    <span class="label label-info label-pill pull-xs-right">soon</span>
                {% else %}
                    {% ifequal image.uploader_viewed "no" %}
                        <span class="label label-success label-pill pull-xs-right">new</span>
                    {% endifequal %}
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}