{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">Login</h4>
        <form method="POST" action="/login" id="login-form">
            {% csrf-field %}

            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="name" />

            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="password" />

            <p></p><input type="submit" class="btn btn-primary btn-block" value="login"/></p>
        </form>
    </div>
</div>
{% endblock %}