{% extends "base.html" %}
{% block content %}
<div class="card text-xl-center" id="image-view">
    <div class="card-block">
        <h4 class="card-title">Salmon Inbox</h4>
        <div class="list-group">
            <a href="#" class="list-group-item">
                Dapibus ac facilisis in
                <span class="label label-danger label-pill pull-xs-right">new</span>
            </a>
            <a href="salmon/WhulkMeros" class="list-group-item">
                Dapibus ac facilisis in
                <span class="label label-danger label-pill pull-xs-right">new</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}